<%= form_with(model: appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h4 style="color: red"><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h4>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="form-control w-50 p-3">
      <div class="input-group mb-3">
        <span class="input-group-text">First and last name</span>
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Address</span>
        <%= f.text_area :address, class: "form-control", style: "height: 100px; font-size: 15px" %>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Phone Number</span>
        <%= f.text_field :phone_number, class: "form-control", placeholder: "09xxxxxxxx" %>
      </div>
      <div class="text-center"><%= f.submit class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>
